/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Colors */
:root {
    --primary: #41D0FE; /* Replace with your primary color */
    --secondary: #EFCB79; /* Replace with your secondary color */
}

/*
-----------------------------------------------------------------------
  Nav
-----------------------------------------------------------------------
*/
.navbar {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    position: relative;
    z-index: 100;
}

.nav-link {
    display: block;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 15%;
    text-align: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(5px);
}

.nav-link:hover {
    background-color: var(--primary);
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px var(--primary);
}

.nav-link.active {
    background-color: var(--primary);
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px var(--primary);
}

/* Nav Media */
@media (max-width: 414px) {
    .navbar {
        bottom: 50px;
    }
}


/*
-----------------------------------------------------------------------
  Hero Section
-----------------------------------------------------------------------
*/
.hero-section {
    height: 100vh;
    width: 100%;
    background-image: url(../images/hero-background.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-background {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-background .container {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.logo {
    z-index: 1;
}

.main-header {
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 62px;
    max-width: 650px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    text-align: center;
}

.social-links {
    text-align: center;
    position: relative;
    display: inline-block;
}

.social-links::before,
.social-links::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 1px;
    background: var(--primary);
}

.social-links::before {
    left: -60px;
}

.social-links::after {
    right: -60px;
}

.social-link {
    margin: 0 5px;
    font-size: 40px;
    color: var(--primary);
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-link:hover {
    color: var(--secondary);
}

.floating-image {
    position: absolute;
    width: 150px;
    transition: transform 2s ease;
}

.top-right {
    top: -100px;
    right: 0;
}

.bottom-left {
    bottom: -100px;
    left: 0;
}

/* Hero Section Media */
@media (max-width: 414px) {
    .hero-section .hero-background .container {
        justify-content: flex-start;
        padding-top: 50px;
        gap: 40px;
    }

    .logo {
        width: 150px;
    }

    .main-header {
        font-size: 32px;
    }

    .social-link {
        font-size: 24px;
    }

    .top-right {
        top: -100px;
        right: 10px;
    }
    
    .bottom-left {
        bottom: -100px;
        left: 10px;
    }
}