/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Colors */
:root {
    --primary: #41D0FE; /* Replace with your primary color */
    --secondary: #EFCB79; /* Replace with your secondary color */
    --dark: #000B16; /* Replace with your dark color */
}

body {
    overflow-x: hidden;
}

.container {
    padding: 50px 10px;
}

/*
-----------------------------------------------------------------------
  Nav
-----------------------------------------------------------------------
*/
.navbar {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 150px;
    z-index: 100;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    position: relative;
}

.nav-link {
    display: block;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 15%;
    text-align: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(5px);
}

.nav-link:hover {
    background-color: var(--primary);
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px var(--primary);
}

.nav-link.active {
    background-color: var(--primary);
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px var(--primary);
}

/* Nav Media */
@media (max-width: 414px) {
    .navbar {
        bottom: 50px;
    }
}


/*
-----------------------------------------------------------------------
  Hero Section
-----------------------------------------------------------------------
*/
.hero-section {
    height: 100vh;
    width: 100%;
    background-image: url(../images/hero-background.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-background {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-background .container {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.logo {
    z-index: 1;
}

.main-header {
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 62px;
    max-width: 650px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    text-align: center;
}

.social-links {
    text-align: center;
    position: relative;
    display: inline-block;
}

.social-links::before,
.social-links::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 1px;
    background: var(--primary);
}

.social-links::before {
    left: -60px;
}

.social-links::after {
    right: -60px;
}

.social-link {
    margin: 0 5px;
    font-size: 40px;
    color: var(--primary);
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-link:hover {
    color: var(--secondary);
}

.floating-image {
    position: absolute;
    width: 150px;
    transition: transform 2s ease;
}

.top-right {
    top: -100px;
    right: 0;
}

.bottom-left {
    bottom: -100px;
    left: 0;
}

/* Hero Section Media */
@media (max-width: 414px) {
    .hero-section {
        background-image: url(../images/hero-background-mobile.JPG);
    }

    .hero-section .hero-background .container {
        justify-content: flex-start;
        gap: 40px;
    }

    .logo {
        width: 150px;
    }

    .main-header {
        font-size: 32px;
    }

    .social-link {
        font-size: 24px;
    }

    .top-right {
        top: -100px;
        right: 10px;
    }
    
    .bottom-left {
        bottom: -100px;
        left: 10px;
    }
}

/*
-----------------------------------------------------------------------
  Events Section
-----------------------------------------------------------------------
*/
.events {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 100%, rgba(0, 11, 22, 1) 100%);
}

.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.event i {
    color: var(--primary);
    font-size: 24px;
}

.event p {
    color: var(--secondary);
    text-transform: uppercase;
    margin-bottom: 0;
}

/* Events Section Media */
@media (max-width: 767px) {
    .events-container {
        justify-content: space-around;
        gap: 15px;
    }
}

/*
-----------------------------------------------------------------------
  About Section
-----------------------------------------------------------------------
*/
.about-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 100%, rgba(0, 11, 22, 1) 100%);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;

}

.about-header {
    position: relative;
    font-size: 50px;
    color: var(--secondary);
    margin-bottom: 35px;
    left: -100px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

.about-image {
    height: 800px;
    width: 50%;
    background-image: url(../images/about.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    width: 50%;
}

.about-content p {
    color: whitesmoke;
    letter-spacing: 2px;
    line-height: 25px;
    margin-bottom: 35px;
}

.book-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.scroll-arrow {
    text-align: center;
    margin-top: 30px;
    animation: bounce 2s infinite;
}

.scroll-arrow span {
    font-size: 24px;
    color: #41D0FE;
    text-shadow: 0 0 10px #41D0FE, 0 0 20px #41D0FE, 0 0 30px #41D0FE, 0 0 40px #41D0FE;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.btn-primary {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--primary);
    color: whitesmoke;
    border: 1px solid var(--primary);
}

#circle-container {
    position: relative;
    width: 200px;
    height: 200px;
}

#circle-container-mobile {
    display: none;
}
  
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    filter: blur(50px);
}
  
#circle1 {
    background-color: rgba(238, 130, 238, 0.500);
    box-shadow: 0 0 150px rgb(238, 130, 238);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
  
#circle2 {
    background-color: rgb(6, 159, 219);
    box-shadow: 0 0 150px rgb(6, 159, 219);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#circle3 {
    background-color: rgba(238, 130, 238, 0.500);
    box-shadow: 0 0 150px rgb(238, 130, 238);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
  
#circle4 {
    background-color: rgb(6, 159, 219);
    box-shadow: 0 0 150px rgb(6, 159, 219);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* About Section Media */
@media (max-width: 992px) {
    .about-image {
        display: none;
    }

    .about-content {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-header {
        text-align: center;
        left: 0;
    }

    #circle-container-mobile {
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        top: 40%;
        margin: auto;

    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        filter: blur(100px);
    }
    
}

/*
-----------------------------------------------------------------------
  Pricing Section
-----------------------------------------------------------------------
*/
.pricing-section {
    width: 100%;
    background-image: url(../images/pricing-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.pricing-background {
    background-color: rgba(0, 0, 0, 0.500);
    height: 100%;
    width: 100%;
}

.pricing-header {
    font-size: 50px;
    color: var(--secondary);
    margin-bottom: 35px;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.pricing-card {
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

.sub-title {
    color: var(--secondary);
    margin: 0;
}

.title {
    color: var(--primary);
    margin: 0;
}

.description {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.additional {
    color: whitesmoke;
    margin-bottom: 20px;
}

/*
-----------------------------------------------------------------------
  Gallery Section
-----------------------------------------------------------------------
*/
.gallery-section {
    background-color: #000B16;
}

.gallery-background {
    background-image: url(../images/gallery-background.png);
    background-repeat: repeat;
    background-size: 200px;
}

.gallery-header {
    font-size: 50px;
    color: var(--secondary);
    margin-bottom: 35px;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-item {
    width: calc(25% - 10px);
}

.gallery-item img {
    width: 100%;
    height: auto;
}

/* Gallery Section Media */
@media (max-width: 992px) {
    .gallery-item {
        width: calc(50% - 10px);
    }
}

/*
-----------------------------------------------------------------------
  Footer
-----------------------------------------------------------------------
*/
.footer-container {
   width: 100%;
   background-color: var(--dark);
}

.map-container {
    width: 100%;
    height: 300px;
}

.footer-container .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact-info {
    width: 40%;
}

.contact-info p,
.footer-container h4 {
    color: whitesmoke;
}

.footer-socials h4 {
    text-align: center;
}

.footer-social-links {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-social-links a {
    color: whitesmoke;
    padding: 5px 10px;
}

.copyright {
    background-color: var(--dark);
    padding: 15px 0;
}

.copyright p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: whitesmoke;
    font-weight: lighter;
}

/* Footer Section Media */
@media (max-width: 767px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer-container h4 {
        text-align: center;
    }

    .footer-container .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }
}